﻿
@{
    ViewBag.Title = "Index";
}

<h2>分數代碼查詢</h2>
<form method="post" action="@Url.Action("Index")">
    請輸入分數：<input type="text" name="score" value="" />
    <input type="submit" value="查詢" />
</form>
<hr />
查詢結果<br />
分數：@ViewBag.Score<br />
代碼：@ViewBag.level<br />

